#cuteling-rush-game-start {
  position: absolute;
  top: 0%;
  left: 50%;
}

.cuteling {
  position: absolute;
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 5px;
  z-index: 9999;
}

.attacking {
  background: yellow !important;
}
